**/.idea
**/.vs/
**/Library/
**/bin/
**/obj/
**/Temp/
**/.objs/
**/.svn/
**/*.csproj.user
**/*.apk
**/*~
**/*.csproj
**/JetBrains/*
*JetBrains.meta
*/fgui/settings/Publish.json


**/$SVN/
$SVN/

.vscode

Solitaire_UClient/.vs/
Solitaire_UClient/Library/
Solitaire_UClient/bin/
Solitaire_UClient/obj/
Solitaire_UClient/Temp/
Solitaire_UClient/Assembly-CSharp.csproj.user
Solitaire_UClient/Assembly-CSharp.csproj
Solitaire_UClient/Assembly-CSharp-Editor.csproj
Solitaire_UClient/Assembly-CSharp-Editor-firstpass.csproj
Solitaire_UClient/Assembly-CSharp-firstpass.csproj
Solitaire_UClient/Solitaire_UClient.sln

Solitaire_UClient/Assets/StreamingAssets/
Solitaire_UClient/Assets/StreamingAssets.meta

UClientCode/Project.Log/.vs/
UClientCode/Project.Log/Project.Log/bin
UClientCode/Project.Log/Project.Log/obj

UClientCode/Project.Hotfix/.vs/
UClientCode/Project.Hotfix/Project.Hotfix/bin/
UClientCode/Project.Hotfix/Project.Hotfix/obj/

UClientBuild/
